<!-- <%= simple_form_for @event, data: { controller: 'flatpickr' } do |f| %>
    <div class="d-flex justify-content-start">
      <%= f.input :title, placeholder: "maximum 100 characters", input_html: { style: 'width: 500px', maxlength: 100} %>
    </div>
    <div class="d-flex justify-content-start">
      <%= f.input :start_day, input_html: { data: { controller: "datepicker"} }, as: :string %>
      <%= f.input :end_day, input_html: { data: { controller: "datepicker"} }, as: :string %>
    </div>

    <div class="d-flex justify-content-start">
      <%= f.input :hour, input_html: { style: 'width: 100px;' } %>
      <%= f.input :minute, input_html: { style: 'width: 100px;' } %>
    </div>
    <div class="d-flex justify-content-start">
      <%= f.input :address, input_html: { style: 'width: 400px;' } %>
    </div>
    <div class="d-flex justify-content-start">
      <%= f.input :city, input_html: { style: 'width: 400px;' }  %>
    </div>
    <div class="d-flex justify-content-start">
      <%= f.association :category, collection: Category.all, label_method: :event_category, value_method: :id, input_html: { style: 'width: 400px;' }  %>
    </div>
    <div class="d-flex justify-content-start">
      <%= f.input :cost, input_html: { style: 'width: 400px;' } %>
    </div>
    <div class="d-flex justify-content-start">
      <%= f.input :content, input_html: { style: 'width: 300px', style: 'height: 300px', maxlength: 1000 } %>
    </div>
    <div class="d-flex justify-content-start">
      <%= f.input :link_event, input_html: { style: 'width: 400px;' } %>
    </div>
    <%= f.input :photo, as: :file, input_html: { style: 'width: 500px;' } %>
    <div class="d-flex justify-content-start">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  <% end %>
-->

<div class="all">
  <div class="wrapper">
    <form action="#">
      <%# <h2>EVENEMENT</h2> %>
        <div class="input-field">
          <input type="text" required>
          <label>TITRE DE L'EVENEMENT</label>
        </div>
         <div class="input-field">
          <input type="text" required>
          <label>DATE DE DEBUT</label>
        </div>
        <div class="input-field">
          <input type="text" required>
          <label>DATE DE FIN</label>
        </div>
        <div class="input-field">
          <input type="text" required>
          <label>HEURE DE DEBUT</label>
        </div>
        <div class="input-field">
          <input type="text" required>
          <label>ADRESSE DE L'EVENEMENT</label>
        </div>
        <label>CATEGORIE DE L'EVENEMENT</label>
          <select name="pets" id="pet-select">
            <option value="">--Choisir une option--</option>
            <option value="dog">ASSOCIATION</option>
            <option value="cat">BRADERIE</option>
            <option value="hamster">CINEMA</option>
            <option value="parrot">CONFERENCE</option>
            <option value="spider">EXPOSITION</option>
            <option value="goldfish">FESTIVAL</option>
            <option value="spider">GASTRONOMIE</option>
            <option value="goldfish">MARCHE</option>
            <option value="spider">NATURE ET ENVIRONNEMENT</option>
            <option value="goldfish">PETITE ENFANCE ET FAMILLE</option>
            <option value="spider">SPORT</option>
            <option value="goldfish">THEATRE</option>
            <option value="spider">AUTRE</option>
          </select>
        <div class="input-field">
          <input type="text" required>
          <label>PRIX (€)</label>
        </div>
        <div class="input-field">
          <input type="text" required>
          <label>CONTENU DE L'EVENEMENT</label>
        </div>
        <label>CHOISIR PHOTO DE L'EVENEMENT</label>
        <input type="file" required />
        <div class="input-field">
          <input type="text" required>
          <label>LIEN URL DE L'EVENEMENT</label>
        </div>

        <a href="http://127.0.0.1:3000/events/" class="button">CREER VOTRE EVENEMENT</a>
    </form>
  </div>
</div>
