<div class="dark container">


<h1 class="text-center mt-5 mb-4">

  <span data-controller="typed" data-typed-strings-value="<%= ["LOCAL EVENTS - MAP"] %>">

LOCAL EVENTS - MAP
</h1>




  <div class="map" style="width: 100%; height: 400px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<div class= "filter-container">


  <h1 class="text-center mt-5 mb-4">
  <span data-controller="typed" data-typed-strings-value="<%= ["LOCAL EVENTS - FILTER"] %>">
    LOCAL EVENTS - FILTER
        </span>
    </h1>

<%= form_with url: events_path, method: :get, local: true do |form| %>
<div class="filters mb-2 mt-5">
    <div>
      <%= form.label :city, "City" %>
      <%= form.select :city, options_for_select(Event.pluck(:city).uniq, params[:city]), include_blank: "Select City" %>
    </div>
    <div>
      <%= form.label :category, "Category" %>
      <%= form.select :category, options_for_select(Category.pluck(:event_category, :id), params[:category]), include_blank: "Select Category" %>
    </div>
    <div>
      <%= form.label :start_day, "Date" %>
      <%= form.date_field :date, value: params[:date] %>
    </div>
    <div class="submit">
          <%= form.submit "Filter" %>
    </div>
  </div>
<% end %>
</div>


<div class="gridcontainer">

<% @events.each do |event| %>
  <%= link_to event_path(event) do %>
  <div class="mt-4 card-trip">
    <% if event.photo.attached? %>
                  <%= cl_image_tag event.photo.key, alt: "Le Wagon", width: 200 %>
                <% else %>
                  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
                <% end %>
    <div class="card-trip-infos">
      <div>
        <h2 class="text-center"><%= event.title.upcase%></h2>
        <%# <p>Short description here!</p> %>
          <div class="heading-date">
            <div class="date">
              <p class="date-wrap">
                <p><strong>Date de début : </strong><%= event.start_day %></p>
                <%# <span class="ghost">Du</span> %>
                <%# <time class="date-time" datetime="2024-06-15"> %>
                  <%# <span class="date-item is-day">15</span>
                  <span class="date-item is-month">juin</span> %>
                </time>
                <%# <span class="material-symbols-outlined">
                arrow_forward_ios
                </span> %>
                  <p><strong>Date de fin : </strong><%= event.end_day %></p>
                <%# <span class="ghost">Au</span> %>
                <%# <span class="date-icon" aria-hidden="true"></span>
                <time class="date-time" datetime="2024-08-31">
                  <span class="date-item is-day">31</span>
                  <span class="date-item is-month">août</span> %>
                </time>
              </p>
            </div>
          </div>
          <div class="heading-time-place">
            <div class="time-place is-center">
              <p class="time-place-item is-time">
                <span class="material-symbols-outlined">
                watch_screentime
                </span>
                <span class="ghost">A partir de</span>
                <time><%= time = event.hour.to_s + 'h' + event.minute.to_s %>
                </time>
              </p>
              <p class="time-place-item is-time">
                <span class="material-symbols-outlined">
                  location_on
                </span>
                <span><strong>Location : </strong> <%= event.city.capitalize %></span><br>
                <span class="material-symbols-outlined">
                  euro_symbol
                </span>
              <span><strong>Prix: </strong> <%= event.cost %>€</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
<% end %>
</div>
</div>

<div style="display: flex; justify-content: center; align-items: flex-end; height: 100%;">

  <div class="frame__links">
					<a class="frame__back" href="https://tympanus.net/codrops/?p=76613">Blog</a>
					<a class="frame__archive" href="">Contact</a>
					<a class="frame__github" href="">Infos sur l'entreprise</a>
  </div>
</div>
