<h1 class="text-center mt-5 mb-4">
  <span data-controller="typed" data-typed-strings-value="<%= ["LISTE DE MES ÉVÈNEMENTS"] %>">
    LISTE DE MES ÉVÈNEMENTS
  </span>
</h1>

<div class="m-4">
<% @events.each do |event| %>
  <ul>
    <h2><li><%= event.title %></li></h2>
    <p>Date start: <%= event.start_day %> Date end: <%= event.end_day %> </p>
    <p>Cost: <%= event.cost %> €</p>
        <p>Link: <%= event.link_event %></p>
        <p><%= event.content %> </p>
    <div class="flex-container">
      <div class="m-4">
      <%= button_to "Edit this event", edit_event_path(@events) %>
      </div>
      <div class="m-4">
      <%= button_to "Destroy this event", @event, method: :delete %>
      </div>
    </div>
  </ul>
<% end %>
</div>
