

<h1>
  <span data-controller="typed" data-typed-strings-value="<%= [@event.title.downcase.capitalize] %>">
  <%= @event.title.downcase.capitalize %>
    </span>
  </h1>

<div>
<p>
    <%= @event.content %>
</p>

<% time = @event.hour.to_s + 'h' + @event.minute.to_s %>
<p><strong>Start date: </strong><%= @event.start_day.to_s + " " + time %></p>
<p><strong>Location: </strong><%= @event.address %></p>
</div>

<div>
  <div class="wishlist">
    <%= link_to new_event_wishlist_path(@event) do %>
      <button type="button" class="btn btn-primary">Ajouter Wishlist</button>
      <% end %>


    <%= link_to events_path(@event) do %>
      <button type="button" class="btn btn-secondary">Retourner Liste</button>
      <% end %>
  </div>
</div>
