<div class="dark container">


<h1 class= "text-center"><strong><span data-controller="typed" data-typed-strings-value="<%= [@event.title.downcase.capitalize] %>">
      <%= @event.title.downcase.capitalize %></strong></h1>

<!--
<h1 class= "text-center">
  <span data-controller="typed" data-typed-strings-value="<%= [@event.title.downcase.capitalize] %>">
    <%= @event.title.downcase.capitalize %>
  </span>
</h1>
-->


          <div class="resa-container">
            <div class= card-trip>
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
              <div>
                <h4 class="category"><%#<%= @event.category %><%= @event.cost %>€</h4>
              </div>
            </div>
            <%# <h2 class="card-trip-pricing"></h2>


            <h6 class="p-1 text-center"><<%= @event.title %>></h6>
            <div class="card-trip-infos">

              <div>
                <% time = @event.hour.to_s + 'h' + @event.minute.to_s %>
                <p><strong>Start date: </strong><%= @event.start_day.to_s + " " + time %></p>
                <p><strong>Location: </strong><%= @event.address %></p>

              </div>
              <h2></h2><h2 class="card-trip-pricing"></h2>
            </div>
          </div>

        <div class="card-trip-infos">

          <div class="resa-infos">
            <div class="pb-2"></div>
              <div>
              <h5><strong><%= @event.title.downcase.capitalize %></strong></h5>
              <%# <p><%= @event.content %>
            </div>
            <div class="pb-2"><strong>Date de début : </strong><%= @event.start_day %></div>
            <div class="pb-2"><strong>Date de fin : </strong><%= @event.end_day %></div>
            <span class="material-symbols-outlined">
                  location_on
                </span>
                <span><strong>Location : </strong> <%= @event.city.capitalize %></span>
                <span class="material-symbols-outlined">
                watch_screentime
                </span>
                <span><strong>Heure : </strong> <%= @event.hour.to_s + 'h' + @event.minute.to_s %>

            <%# <div class="pb-2">Heure</div> %>
            <%# <div class="pb-2">City :</div> %>

          </div>
        </div>

      </div>
  </div>
  </div>
</div>
</div>

<div class="end-page-container">
  <h1 class="text-center mt-5">
    <span data-controller="typed" data-typed-strings-value="<%= [@event.title.downcase.capitalize] %>">
      <%= @event.title.downcase.capitalize %>
    </span>
  </h1>

  <div class="description-event mt-1"><p><%= @event.content %></p>
    <% time = @event.hour.to_s + 'h' + @event.minute.to_s %>
    <p><strong>Start date: </strong><%= @event.start_day.to_s + " " + time %></p>
    <p><strong>Location: </strong><%= @event.address %></p>
  </div>
</div>

<!-- <div>

          <p class="long-description">
            <%= @event.content %>
          </p>

        </div> -->

  <div><h3>Location of event:</h3></div>

  <div class="mapshow" style="width: 60%; height: 500px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


<div class="showbtns">

  <div class="wishlist">
    <%= link_to  event_wishlists_path(@event), data: {turbo_method: :post} do %>
      <button type="button" class="btn btn-primary">Ajouter Wishlist</button>
      <% end %>


    <%= link_to events_path(@event) do %>
      <button type="button" class="btn btn-secondary">Retourner Liste</button>
      <% end %>
  </div>
</div>


  </div>
  </div>
</div>
</div>

<div class="end-page"></div>




<div>
