<div class="dark container">

<h1 class= "text-center"><strong><span data-controller="typed" data-typed-strings-value="<%= [@event.title.downcase.capitalize] %>">
      <%= @event.title.downcase.capitalize %></strong></h1>


<div class="resa-container">
<% @events.each do |event| %>
      <div class="card-trip">
        <% if event.photo.attached? %>
          <%= cl_image_tag event.photo.key, alt: "Le Wagon", width: 200 %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <% end %>
          <div>

                <h4 class="category"><%= event.category.event_category %> /   <%= @event.cost%>€</h4>

              </div>
      </div>

      <div class="resa-infos">
          <h4 class="p-1 text-center"><strong><%= event.title%></strong></h4>
            <div class="pb-2 mt-5"><strong>Date de début : </strong><%= event.start_day %></div>
            <div class="pb-2"><strong>Date de fin : </strong><%= event.end_day %></div>
              <span class="material-symbols-outlined">
                  location_on
              </span>
              <span><strong>Location : </strong> <%= event.city.capitalize %></span>
              <span class="material-symbols-outlined">
                  watch_screentime
              </span>
              <span><strong>Heure : </strong> <%= event.hour.to_s + 'h' + event.minute.to_s %></span>
              <% if user_signed_in? %>


                <% if current_user.events.include?(@event) %>
                <blockquote class="blockquote text-right mt-5">
                <%= link_to "Modifier cet évènement", edit_event_path(event) %>
                </blockquote>
                <blockquote class="blockquote text-right">
                <%= link_to "Supprimer cet évènement", event_path(event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:'contient-img-trash' %>
                </blockquote>
                <% end %>
                <% end %>
      </div>
    <% end %>
      </div>
      </div>

<div class="container-showbtns">

  <div class="wishlist">
    <%= link_to  event_wishlists_path(@event), data: {turbo_method: :post} do %>
    <button class="button-33" role="button">Ajouter Wishlist</button>
      <% end %>


    <%= link_to events_path(@event) do %>
        <button class="button-33" role="button">Retourner Liste</button>
      <% end %>
  </div>
  </div>


          <%# </div>
          </div>
        </div>

      </div>
  </div>
  </div>
</div>
</div> %>

<div class="end-page-container">
  <h2 class="text-center">
    <span data-controller="typed" data-typed-strings-value="<%= [@event.title.downcase.capitalize] %>">
      <%= @event.title.downcase.capitalize %>
    </span>
  </h2>

  <div class="description-event text-center mt-1"><p><%= @event.content %></p>
    <% time = @event.hour.to_s + 'h' + @event.minute.to_s %>
    <p><strong>Start date: </strong><%= @event.start_day.to_s + " " + time %></p>
    <p><strong>Location: </strong><%= @event.address %></p>
    <%= link_to "Lien pour plus d'informations", @event.link_event, target: '_blank' %>


  </div>
</div>



  <h3><strong>Localisation :</strong></h3>

  <div class="mapshow" style="width: 60%; height: 500px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

  </div>





  </div>
  </div>
</div>
</div>

<div class="end-page"></div>

<div style="display: flex; justify-content: center; align-items: flex-end; height: 100%;">

  <div class="frame__links">
					<a class="frame__back" href="https://tympanus.net/codrops/?p=76613">Blog</a>
					<a class="frame__archive" href="">Contact</a>
					<a class="frame__github" href="">Infos sur l'entreprise</a>
  </div>
</div>
<div></div>
