<h1 class="text-center mt-5 mb-4"><span data-controller="typed" data-typed-strings-value="<%= ["MY LOCAL EVENTS WISHLIST"] %>">
    MY LOCAL EVENTS WISHLIST
        </span>
    </h1>

<div class="resa-container">
  <% @wishlists.each do |wishlist| %>
    <%= link_to event_path(Event.find(wishlist.event_id)) do %>

      <div class="card-trip">
        <% if wishlist.event.photo.attached? %>
          <%= cl_image_tag wishlist.event.photo.key, alt: "Le Wagon", width: 200 %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <% end %>
        <div>
        <h4 class="category"><%= wishlist.event.category.event_category %> /   <%= wishlist.event.cost%>€</h4>
        </div>
        </div>
                            <% end %>


      <div class="resa-infos">
          <h4 class="p-1 text-center mb-5"><strong><%= wishlist.event.title%></strong></h4>
            <div class="pb-2"><strong>Date de début : </strong><%= wishlist.event.start_day %></div>
            <div class="pb-2"><strong>Date de fin : </strong><%= wishlist.event.end_day %></div>
              <span class="material-symbols-outlined">
                  location_on
              </span>
              <span><strong>Location : </strong> <%= wishlist.event.city.capitalize %></span>
              <span class="material-symbols-outlined">
                  watch_screentime
              </span>
              <span><strong>Heure : </strong> <%= wishlist.event.hour.to_s + 'h' + wishlist.event.minute.to_s %></span>
            <blockquote class="blockquote text-right mt-5">
            <%= link_to "Supprimer", wishlist_path(wishlist), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:'contient-img-trash' %>
      </blockquote>
      </div>
    <% end %>
      </div>
      </div>
    </div>
